annotated-doc @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_annotated-doc_1785335690/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1784935130617/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1788612816/work
backoff @ file:///home/conda/feedstock_root/build_artifacts/backoff_1733771078379/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1788480187707/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1784717589373/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_charset-normalizer_1790766086/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1788802215/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_deprecated_1790496270/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dnspython_1757292856/work
email-validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1756221362582/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi-core_1790772405/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi-cli_1784211753/work
fastar @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastar_1787239222/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_googleapis-common-protos_1790752758/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1785796355/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1782283902770/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httptools @ file:///home/conda/feedstock_root/build_artifacts/httptools_1788525570306/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1790020377/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1779719562/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1778169583724/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1772444934960/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
opentelemetry-api @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-api_1784225694496/work
opentelemetry-exporter-otlp-proto-common @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-exporter-otlp-proto-common_1785422503897/work
opentelemetry-exporter-otlp-proto-http @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-exporter-otlp-proto-http_1785427062230/work
opentelemetry-proto @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-proto_1784223603145/work
opentelemetry-sdk @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-sdk_1784282707320/work
opentelemetry-semantic-conventions @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-semantic-conventions_1784276688063/work
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1788686835450/work/bazel-bin/python/dist/protobuf-7.35.1-cp314-abi3-linux_x86_64.whl#sha256=3352f0883dda785b3501e701df68a509375d7f70eec4180a22321048d3338afa
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1787941273/work
pydantic-extra-types @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-extra-types_1773664659/work
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-settings_1786146776/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-core_1789996107/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pygments_1786995678/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1790859080/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-multipart_1780610429/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1775991661/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1788918484/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1762858192781/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_starlette_1790258072/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
typer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typer_1787921102/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing-inspection_1786818918/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1789566614899/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_uvicorn_1790356091/work
uvloop @ file:///home/conda/feedstock_root/build_artifacts/uvloop_1789685744658/work
watchfiles @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_watchfiles_1790039007/work
websockets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_websockets_1788618454/work/dist
wrapt @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_wrapt_1790502477/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1779159948/work
